@page
@model Lab1.AboutModel
@{
    ViewData["Title"] = "Lite om mig";
}

<h1><b>Om mig</b></h1>

<p>Hej, jag heter Fredric Färholt och är född 1993 i Stockholm.</p>

<p>På fritiden gillar jag att umgås med min sambo och vänner. Se någon härlig film eller binga en TV serie.</p>

<p>Jag programmerar även på egna projekt som gärna snor tid från skolarbeten.</p>

