@page
@model Lab1.indexModel
@{
    ViewData["Title"] = "index";

    int temp = 9;
    string[] names = { "Mattias", "Lars", "Elin", "Johan" };

    var date = DateTime.Now;
}

<h1>Startsida</h1>

<p>Välkommen till @date</p>

@if (temp == 9)
{
    <p>Temperaturen är 9 grader.</p>
}
else
{
    <p>Temperaturen är inte 9 grader.</p>
}

@for(int i = 0; i<10; i++)
{
    <p>Hejsan</p>
}

<ol>
    @foreach (var name in names)
    {
        <li>@name</li>
    }
</ol>