<!DOCTYPE html>
<html lang="se">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <script src="~/js/JavaScript.js"></script>
</head>
    <body>
        <h1>Min webbplats</h1>
        <nav>
            <ul>
                <li><a href="/">Startsida</a></li>
                <li><a href="About">About</a></li>
                <li><a href="Contact">Contact</a></li>
            </ul>
        </nav>
        <main>@RenderBody()</main>
    </body>
</html>